nav {
    max-width: 30%;
    margin-right: 30px;
    float: left;
    text-transform: uppercase;
    line-height: 140%;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 10px;
}

#navbar > * {
    clear: both;
    float: right;
}

#navbar a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

footer {
    clear: both;
    text-align: center;
}

body {
    font-family: sans-serif;
    margin:30px auto 0px auto;
    width: 860px;
}

#content {
    float: left;
    line-height: 140%;
}
